<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title th:text="${pageTitle}">Generic Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav th:replace="layout/nav :: navFragment">
		</nav>

		<div class="jumbotron text-center">
			
	 		<h1 th:text="${pageHeader}">Generic Header</h1>
		</div>
		<br/>
		<div class="container">
	  		<br/>
			<img src="/Belfast.jpg" alt="Constituencies of Belfast" usemap="#Map" />
			<map name="Map" id="Map">
				<area alt="" title="Belfast East" href="/constituency/2" shape="rect" coords="419,269,724,535" />
			    <area alt="" title="Belfast North" href="/constituency/10" shape="rect" coords="159,28,400,301" />
			    <area alt="" title="Belfast South" href="/constituency/13" shape="rect" coords="484,753,265,428" />
			    <area alt="" title="Belfast West" href="/constituency/17" shape="rect" coords="238,310,11,595" />
			    
			</map>
 				<form>
 					
 				</form>
			</div>		
	</body>
</html>