<!DOCTYPE html>
	<html lang="en" xmlns:th="http://thymeleaf.org">
		<head>
		<meta charset="utf-8"></meta>
		<title>Largest Buildings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
		<body>
		<nav th:replace="layout/nav :: navFragment">
		</nav>
		
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Largest Buildings!</h1>
				<p>Every wonder what the largest buildings in the world are?  This website displays the top ten by 3 categories!</p>
				<h3>Click Below To See Largest By:</h3>
			</div>
	</div>	
	<div class="container" align="center">
	<div class="row" align="left">
						<div class="col-sm-8">
	  					<p><a href="largestFloorArea.html">Largest Floor Area</a></p></div>
	  					
	  					<div class="col-sm-8">
	  					<p><a href="largestFootprint.html">Largest Footprint</a></p></div>
	  					
	  					<div class="col-sm-8">
	  					<p><a href="largestUseableVolume.html">Largest Useable Area</a></p></div>	
					
				</div>
			</div>
		</body>
	</html>