<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title th:text="${pageTitle}">Generic Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>

		<div class="jumbotron text-center">
	 		<div th:each="event : ${events}">
	 			<h1 th:text="${event.title}">Generic Text</h1>
	 		</div>
		</div>
		<br/>
		<div class="container" th:each="event : ${events}">
			       
			        	<h3>Event Name</h3>
			        	<p th:text="${event.title}">Generic Text</p>
			       
			        
			        	<h3>Start Date</h3>	
			        	<p th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}">Generic Text</p>			     
			    
					
			        	<h3>End Date</h3>	
			        	<p th:text="${event.endDate}">Generic Text</p>				     
			        
			        
			        	<h3>Time</h3>	
			        	<p th:text="${event.time}">Generic Text</p>			     
			       
					
			        	<h3>Venue</h3>	
			        	<p th:text="${event.venue}">Generic Text</p>			     
			       
			       
			        	<h3>Venue Link</h3>	
			        	<p th:text="${event.venueUrl}">Generic Text</p>			     
			     
			        
			        
			        
			        	<h3>Cost</h3>	
			        	<p th:text="${event.cost}">Generic Text</p>			     
			        
			        
			        	<h3>Theme</h3>	
			        	<p th:text="${event.theme}">Generic Text</p>			     
			       
			        
			        	<h3>Content</h3>	
			        	<p th:text="${event.content}">Generic Text</p>			     
			        
			        
			        	<h3>Event Link</h3>	
			        	<p th:text="${event.url}">Generic Text</p>			     
			        

			        
			        	<h3>Image</h3>	
			        	<p><img th:src="${event.image}"></img></p>			     
			        
 				<form>
 					
 				</form>

 				</div>
	</body>
</html>