<html lang="eng">
	<head>
		<meta charset="utf-8"></meta>
		<title>Dwarves</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
	 		<h1>The Company of Thorin</h1>
		</div>
		<br/><br/>
		<div class="container">
	  		<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Picture</th>
			      </tr>
			    </thead>
			     <tbody>
			      <tr>
			        <td>Thorin</td>
			        <td><img src = "../static/dwarf-images/Thorin.png"/> </td>
			      </tr>
			      </tbody>
    		</table>
    	</div>
	</body>
</html>