<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title th:text="${pageTitle}">Generic Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>

		<div class="jumbotron text-center">
	 		<h1>Titanic Passengers</h1>
		</div>
		<br/><br/>
		<div class="container">
		
	  		<br/>
  				
				<div align="center">
  				<a href="passenger/"> <button class="btn btn-primary">All Passengers</button> </a>
 				</div>
 				<form>
 					
 				</form>
 				
			</div>
 				
	</body>
</html>