<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title th:text="${pageTitle}">Generic Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>
		<div class="jumbotron text-center">
	 		<div th:each="passenger : ${passengers}">
	 			<h1 th:text="${passenger.name}">Generic Text</h1>
	 		</div>
		</div>
		<br/><br/>
		<div class="container">
	  		<table class="table table-striped">
			    <thead>
			    </thead>
			    <tbody>
			       <tr th:each="passenger : ${passengers}">
			        	<th>Passenger Age</th>
			        	<td th:text="${passenger.age}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Passenger Sex</th>	
			        	<td th:text="${passenger.sex}">Generic Text</td>			     
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Fare (£)</th>
			        	<td th:text="${passenger.fare}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Cabin</th>
			        	<td th:text="${passenger.cabin}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Embarked</th>  
			        	<td th:text="${passenger.embarked}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Class</th>
			        	<td th:text="${passenger.pclass}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Ticket Number</th>
			        	<td th:text="${passenger.ticket}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Parent and Child</th>
			        	<td th:text="${passenger.parch}">Generic Text</td>
			        </tr>
			        <tr th:each="passenger : ${passengers}">
			        	<th>Sibling or Spouse</th>
			        	<td th:text="${passenger.sibSp}">Generic Text</td>
			      	</tr>
			      </tbody>
    		</table>
    	</div>
	</body>
</html>