<!DOCTYPE html>
	<html lang="en" xmlns:th="http://thymeleaf.org">
		<head>
		<meta charset="utf-8"></meta>
		<title>Charts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
		<body>
		<nav th:replace="layout/nav :: navFragment">
		</nav>
		
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Charts!</h1>
				<p>How different are the Irish and UK top tens?</p>
				<h3>Click Below To See the Top 10 in:</h3>
			</div>
	</div>	
	<div class="container" align="center">
	<div class="row" align="left">
						<div class="col-sm-8">
	  					<p><a href="ukChart.html">UK Chart</a></p></div>
	  					
	  					<div class="col-sm-8">
	  					<p><a href="irishChart.html">Irish Chart</a></p></div>
					
				</div>
			</div>
		</body>
	</html>