<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<title th:text="${pageTitle}">Generic Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>

		<div class="jumbotron text-center">
			<h1>Weather</h1>
	 		<h2 th:text="${pageHeader}">Weather</h2>
		</div>
		<br/>
		<div class="container">
		<div align="center">
		<a href="/"> <button class="btn btn-primary">Belfast</button> </a>
		<a href="/london"> <button class="btn btn-info">London</button> </a>
		<a href="/dublin"> <button class="btn btn-danger">Dublin</button> </a>
		</div><br/>
	  		<br/>
  				<table class="table table-striped">

			     <tbody>
			       <tr>
			        	<th>Description</th>
			        	<td th:text="${weather.description}">Generic Text</td>
			        </tr>
			        <tr>
			        	<th>Precipitation</th>	
			        	<td th:text="${weather.precipitation}">Generic Text</td>			     
			        </tr>
					<tr>
			        	<th>Temperature</th>	
			        	<td th:text="${weather.temperature}">Generic Text</td>			     
			        </tr>
			        <tr>
			        	<th>Humidity</th>	
			        	<td th:text="${weather.humidity}">Generic Text</td>			     
			        </tr>
					<tr>
			        	<th>Pressure</th>	
			        	<td th:text="${weather.pressure}">Generic Text</td>			     
			        </tr>
			        <tr>
			        	<th>Cloud Cover</th>	
			        	<td th:text="${weather.cloudcover}">Generic Text</td>			     
			        </tr>
			        <tr>
			        	<th>Wind Speed</th>	
			        	<td th:text="${weather.wind.speed}">Generic Text</td>			     
			        </tr>
			        <tr>
			        	<th>Wind Direction</th>	
			        	<td th:text="${weather.wind.direction}">Generic Text</td>			     
			        </tr>
			        <tr>
			        	<th>Image</th>	
			        	<td><img th:src="${weather.image}"></img></td>			     
			        </tr>
			      </tbody>
    		</table>
 				<form>
 					
 				</form>
 				
			</div>
 				
	</body>
</html>